streamlit==1.30.0
tensorflow==2.16.1
numpy>=1.26.0  # Updated for Python 3.12 compatibility
pillow==9.5.0
matplotlib==3.8.0
pip install scikit-learn==1.3.2 --only-binary :all:
opencv-python-headless==4.7.0.72
gdown==4.6.0
